<launch>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find public_pkg)/config/custom_rosconsole.conf"/>

  <rosparam file="$(find public_pkg)/config/dnrobot.yaml" command="load"/>

  <!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>-->

  <!--<include file="$(find demo_pkg)/launch/start_demo.launch"/>-->

  <!--<node name="data_manage" pkg="data_manage" type="data_manage_node" output="screen" />-->

</launch>
